Port 2222
ListenAddress 0.0.0.0
HostKeyAgent /run/sshd.sock
HostKey /home/core/.ssh/id_ed25519
AuthorizedKeysFile /home/core/.ssh/authorized_keys
PidFile /tmp/sshd.pid
Subsystem sftp /usr/libexec/openssh/sftp-server
AuthenticationMethods publickey
PasswordAuthentication no
KbdInteractiveAuthentication no
PermitEmptyPasswords no
PermitRootLogin no
StrictModes no
AllowUsers core
Compression no
AllowAgentForwarding no
AllowTcpForwarding no
GatewayPorts no
X11Forwarding no
PermitUserEnvironment no
SetEnv CONTAINER_HOST=unix:///run/podman.sock HOME=/home/core SHELL=/bin/bash SSH_AUTH_SOCK=/run/sshd.sock PATH=/home/core/.cargo/bin:/home/core/.bun/bin:/home/core/.local/bin:/usr/local/bin:/usr/bin
UsePAM no
UseDNS no
LogLevel VERBOSE
